/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --main-bg-color: var(--pink-lavander, #FFF1F7);
  --accent-subtitle-bg-color: var(--pink-purple, #FF8DCB);
  --accent-subtitle-text-color: var(--dark, #353430);
  --main-title-text-color: var(--dark, #353430);
  --decor-color: var(--dark, #353430);
  --menu-text-color: var(--dark, #353430);
  --hover-border-color: var(--dark-transparency, rgb(0,0,40,0.4));
  --text-color: var(--dark, #353430);
  --logo-color: var(--pink, #FFC2E6);
  --shadow-color: var(--pink-purple, #FF8DCB);
  --main-font: 'IBM Plex mono';
  --padding: 10px;
  --bg-image: url(../images/cover-image-light.png);
  --REC-icon: var(--icon-hidden, none);
}
