/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--main-bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  gap: 2px;
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline: var(--padding);
  padding-block-start: 9px;
  padding-block-end: var(--padding)
}

.header::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decor-color, #FF0070);
  border-right: 1px solid var(--decor-color, #FF0070);
  inset-inline-start: calc(100% - var(--padding) - 25px);
  inset-block-start: var(--padding);
 }

.header::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--decor-color, #FF0070);
  border-bottom: 1px solid var(--decor-color, #FF0070);
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
} 

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  appearance: none;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--menu-text-color, #FF0070);
  font-size: 18px;
  line-height: 105%;
  padding: 2.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color, rgb(255,0,112,0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  color: var(--logo-color, #DB00FF);
}

.header-title {
  text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
}

.accent-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.295;
  background-color: var(--accent-subtitle-bg-color, #FF0070);
  color: var(--accent-subtitle-text-color, #000028);
}

.header__REC-icon {
  display: var(--REC-icon, block);
  position: absolute;
  font-size: 18px;
  color: var(--decor-color, #FF0070);
  inset-inline-end: 2.1em;
  inset-block-start: calc(var(--padding) + 2px);
}

.header__REC-icon::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  background-color: var(--decor-color, #FF0070);
  inset-inline-start: 42px;
  inset-block-start: 7px;
  box-shadow: 0px 0px 8px var(--decor-color, #FF0070);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-block-start: 40px;
  padding-inline: var(--padding);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main-title {
  color: var(--main-title-text-color, #FF0070);
  font-size: 18px;
  line-height: 1.3;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advices-card-title {
  font-weight: 400;
  line-height: 1.3;
}

.card-text {
  color: var(--text-color, #F1B2CE);
  font-size: 18px;
  line-height: 1.3;
}

.card-text a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color, #FF0070);
}

.card-text a:hover {
  border-bottom: 1px solid currentColor;
}

.card-text a:focus {
  outline: none;
}

.card-text a:focus-visible {
  outline: 1px solid currentColor;
}

.gallery__content-section {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_title {
  position: relative;
  display: flex;
  text-shadow: 2px 2px 0 var(--shadow-color, #FF0070);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-inline: var(--padding);
  margin-block-start: 41px;
  min-height: 100vh;
}

 .footer_title::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decor-color, #FF0070);
  border-right: 1px solid var(--decor-color, #FF0070);
  inset-inline-start: calc(100% - var(--padding) - 25px);
  inset-block-start: var(--padding);
} 

.footer_title::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--decor-color, #FF0070);
  border-bottom: 1px solid var(--decor-color, #FF0070);
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
} 

/* адаптив */

@media (width >= 768px) {

  .page {
    --padding: 20px;
  }

  .header {
    padding-inline-start: 0;
    padding-block-start: 19px;
    min-block-size: 1024px;
    block-size: 100vh;
  }

  .header__theme-menu-button {
    padding: 3px 12.5px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.8; 
  }

  .header-subtitle {
    padding-inline-start: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
  }

  .header-subtitle .accent-subtitle {
    grid-column: 2 / 3;
  }

  .header__REC-icon {
    inset-inline-end: 48px;
    inset-block-start: calc(var(--padding) + 2px);
  }

  .content {
    gap: 80px;
    margin-block-start: 60px;
    padding-inline: var(--padding);
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section__how-to-focus .main-title {
     grid-row: 1 / 3;
  }

  .section__reasons .card-list {
    grid-column: 1 / 4;
  }

  .advices-card-title {
    font-weight: 400;
    line-height: 1.3;
  }

  .section__how-to-focus .card-text {
    line-height: 1.302;
  }

  .gallery__content-section {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  .gallery-image:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: span 2;
    object-fit: cover;
  }

  .gallery-image:nth-child(2) {
    grid-column: 5 / 7;
    grid-row: 1 / 5;
    object-fit: cover;
  }

  .gallery-image:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 8;
    object-fit: cover;
  }

  .gallery-image:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    object-fit: cover;
  }

  .gallery-image:nth-child(5) {
    grid-column: 3 / 7;
    grid-row: 5 / 8;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 61px;
  }
 
}

@media (width >= 1024px) {
  .page {
    --padding: 20px;
  }

  .header {
    min-block-size: 768px;
    block-size: 100vh;
    padding-block-start: 20px;
  }

  .header__theme-menu {
    padding-left: var(--padding);
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
   
  .header-subtitle {
    padding-left: 22px;
  }

  .content {
    padding-inline-start: 20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__hard-to-focus .card-list {
    grid-column: 2 / 4;
  }

  .section__reasons .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__how-to-focus .accent-subtitle {
    grid-column: 2 / 4;
  }

  .section__how-to-focus .card-list {
    grid-column: 2 / 4;
  }

 }


@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: var(--pink-lavander);
    --accent-subtitle-bg-color: var(--pink-purple);
    --accent-subtitle-text-color: var(--dark-blue);
    --main-title-text-color: var(--dark);
    --decor-color: var(--dark);
    --menu-text-color: var(--dark);
    --hover-border-color: var(--dark-transparency);
    --text-color: var(--dark);
    --logo-color: var(--pink);
    --shadow-color: var(--pink-purple);
    --main-font: 'IBM Plex mono';
    --padding: 10px;
   
    --REC-icon: var(--icon-hidden);
  }
} 

