/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --padding: 10px;
  --bg-image-dark: url(../images/cover-image-dark.png);
  --bg-image-light: url(../images/cover-image-light.png);
  --dark-blue: #000028;
  --purple: #FF0070;
  --purple-transparency:  rgb(255,0,112,0.4);
  --light-lavender: #F1B2CE;
  --fuchsia:#DB00FF;
  --pink-lavander: #FFF1F7;
  --pink-purple: #FF8DCB;
  --dark-transparency: rgb(0,0,40,0.4);
  --dark: #353430;
  --pink: #FFC2E6;
  --icon-visible: block;
  --icon-hidden: none;
}